* {
   box-sizing: border-box;
}

body, h1, h2, p, ul, li, a {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Nunito", Helvetica, Arial, sans-serif;
   color: #222;
}

ul {
   list-style: none;
}

a {
   display: inline-block;
   text-decoration: none;
}

img {
   display: block;
   width: 100%;
}

/* superinfo */
.superinfo-bg {
   background: #122ab2;
}

.superinfo p, .superinfo a {
   color: #ffffff;
}

.superinfo {
   max-width: 960px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   gap: 10px;
   padding: 10px;
}

/* menu */
.menu-bg {
   background: #2c70ff;
}

.menu {
   max-width: 960px;
   margin: 0 auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   align-items: center;
   gap: 10px;
   padding: 15px 10px;
}

.menu a {
   color: #ffffff;
}

.menu-logo {
   font-size: 2.25rem;
   font-weight: 700;
}

.menu-nav ul {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.menu-nav a {
   font-size: 1.25rem;
}

.menu-nav a:hover {
   color: #122ab2;
}

/* introducao */
.introducao {
   max-width: 960px;
   margin: 0 auto;
   font-size: 3rem;
   line-height: 1;
   padding: 60px 10px;
}

/* sobre */
.sobre {
   max-width: 960px;
   margin: 0 auto;
   padding: 60px 10px;
   border: 2px solid #2c70ff;
   border-left: 0;
   border-right: 0;
   display: flex;
   flex-wrap: wrap;
   gap: 20px;
}

.sobre-info {
   flex: 2 1 300px;
}

.sobre-info h1 {
   font-size: 3rem;
   margin-bottom: 8px;
}

.sobre-info p {
   font-size: 1.25rem;
   color: #7c7c7c;
   line-height: 1.4;
   margin-bottom: 16px;
}

.sobre-img {
   flex: 1 1 160px;
}

/* produtos */
.produtos {
   max-width: 960px;
   margin: 0 auto;
   padding: 60px 10px;
}

.produtos h1 {
   font-size: 3rem;
   margin-bottom: 60px;
}

.produtos-container {
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   gap: 20px;
}

.produtos-item {
   flex: 1 1 220px;
}

.produtos-item.purple {
   border-top: 8px solid #ae81ff;
}

.produtos-item.pink {
   border-top: 8px solid #f9265e;
}

.produtos-item.blue {
   border-top: 8px solid #66d9eb;
}

.produtos-item h2 {
   font-size: 3rem;
   color: #a4a4a4;
   background: #f7f7f7;
   padding: 60px 20px;
}

/* preco */
.preco-bg {
   background: #f7f7f7;
}

.preco {
   max-width: 1200px;
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-end;
   gap: 20px;
   padding: 60px 10px;
}

.preco-item {
   flex: 1;
   border: 4px solid #ffffff;
   padding: 20px;
}

.preco-item h2 {
   font-size: 3rem;
   color: #a4a4a4;
   text-align: center;
}

.preco-item span {
   display: block;
   max-width: 300px;
   margin: 20px auto;
   font-size: 3rem;
   text-align: center;
   font-weight: 700;
   padding: 10px 0 5px 0;
   border: 4px solid #ffffff;
   border-left: 0;
   border-right: 0;
}

.preco-item sup {
   font-size: 1.5rem;
}

.preco-item ul {
   max-width: 300px;
   margin: 20px auto;
   font-size: 1.25rem;
   font-style: italic;
   color: #7c7c7c;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.preco-item li {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.preco-item li::after {
   content: "";
   display: block;
   width: 6px;
   height: 6px;
   border-radius: 50%;
   background: #2c70ff;
}

.preco-item a {
   display: block;
   max-width: 300px;
   margin: 20px auto;
   border: 4px solid;
   color: #222222;
   text-transform: uppercase;
   font-weight: 700;
   font-size: 2.25rem;
   text-align: center;
   padding: 15px;
}

@media (max-width: 900px) {
   .preco-item:nth-child(3) {
      order: 1;
   }

   .preco-item:nth-child(2) {
      order: 2;
   }

   .preco-item:nth-child(1) {
      order: 3;
   }
}